<h2 class="text-danger">Lista de productos</h1>
  {{#if showList }}
<table class="table">
        <thead>
          <tr>
            <th scope="col"><h1 class="text-light">ID</h1></th>
            <th scope="col"><h5 class="text-secondary">Título</h5></th>
            <th scope="col"><h5 class="text-secondary">Precio</h5></th>
            <th scope="col"><h5 class="text-secondary">Imagen</h5></th>
          </tr>
        </thead>
        <tbody>
          {{#each list}}
              <tr>
                  <th scope="row"><h6 class="text-light">{{this.id}}</h6></th>
                  <td><h6 class="text-light">{{this.title}}</h6></td>
                  <td><h6 class="text-light">${{this.price}}</h6></td>
                  <td><img style="height: 3rem;" src="{{this.thumbnail}}" alt=""></td>
                </tr>
          {{/each}}
        </tbody>
</table>
  {{else}}
    <h5 class="alert-danger rounded p-2">No se encontraron datos</h5>  
{{/if}}